<div class="backdrop">
    <div class="mobile-menu-container">
        <div class="mobile-menu-close-btn">
            <svg class="mobile-menu-close-btn-icon" width="32" height="32">
                <use href="/img/icons.svg#icon-x"></use>
            </svg>
        </div>
        <nav class="mobile-menu-nav">
            <ul class="mobile-menu-list">
                <li class="mobile-menu-list-item">
                    <a class="mobile-menu-list-link" href="#how-it-works">How It Works</a>
                </li>
                <li class="mobile-menu-list-item">
                    <a class="mobile-menu-list-link" href="#vegetables">Vegetables</a>
                </li>
                <li class="mobile-menu-list-item">
                    <a class="mobile-menu-list-link" href="#reviews">Reviews</a>
                </li>
            </ul>
        </nav>
        <a class="menu-shop-now-btn" href="#your-order">
            Shop Now
        </a>
    </div>
</div>